<form action="{% url 'uploadFile' %}" method="POST" enctype="multipart/form-data">
        <input type="text" name="fileTitle" placeholder="Enter a title">
        <input type="file" name="uploadedFile">
        {% csrf_token %}
        <input type="submit" value="파일업로드!">
</form>

<table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>File Path</th>
            <th>Upload Date & Time</th>
        </tr>
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.title }}</td>
                <td>{{ file.uploadedFile.url }}</td>
                <td>{{ file.dateTimeOfUpload }}</td>
            </tr>
    </table>



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>CSV 업로드</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>CSV 업로드하시어어</h1>-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->

<!--        <input type="file" name="maincsv"><br>-->

<!--    </form>-->
<!--</body>-->
<!--</html>-->


<!--form부터 알아보자.-->
<!--html에서 <form>태그는 내부의 정보를 한번에 서버로 전송하는 역할을 한다.-->
<!--위 코드에서 보면 <form>태그 안에 3개의 <input>태그와 하나의 <textarea>태그가 있다.-->
<!--여기에 작성된 정보를 type="submit"버튼이 클릭되면 서버로 전송한다.-->

<!--이제 <form>태그의 속성 method="POST"에 대해서 알아보자.-->
<!--웹에서 정보를 서버에 전송할 때, 크게 두가지의 방식으로 통신한다.-->
<!--바로 GET방식과 POST방식이다.-->
<!--GET방식은 정보를 가져오는 방식이다. 즉, 원하는 데이터를 서버에 요청해서 받아온다고 생각하면 편하다.-->
<!--이 방식은 주소창에 가져올 정보가 모두 표시되기 때문에 중요한 정보는 GET방식을 사용하면 안된다.-->
<!--POST방식은 정보를 서버에 전송하여 서버 데이터베이스에 우리가 보낸 정보를 저장하는 방식이다.-->
<!--이 방법은 우리가 보낸 정보가 숨겨져 있다.-->

<!--csrf?-->
<!--csrf란 사이트간 요청 위조 라는 뜻인데, 이름만 봐서는 잘 모르겠다!-->
<!--무엇인지 살펴보면 가해자와 피해자가있다고 하자.-->
<!--가해자는 피해자가 자주 사용하는 사이트와 유사한 페이지를 만들고,-->
<!--피해자가 그에 속아 가해자가 만든 페이지에 접속하면 그 계정정보를 이용해-->
<!--가해자는 피해자의 권한을 얻어 사이트를 공격하는 방식이다.-->

<!--너무 어렵다면 django에서는 이러한 공격에 대한 취약성을 보완하는 기능이 탑재되어있다고 생각하자...-->